$h2_font_size: 40px;
$h2_font_size_title: 55px;

$h2_font_size_tablet_title: 34px;

$h2_font_size_mobile: 23px;
$h2_font_size_mobile_title: 28px;

$span_font_size: 23px;
$span_font_size_mobile: 16px;

$link_button_font_size: 23px;
$link_button_font_size_mobile: 16px

